.wallpaper {
    background-image: url(../../public/img/01.jpg);
    background-size: cover;
}

.c-opacity{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}